:root{
    --fundo-secundario:#807e2a;
    --texto-primario:#740005;
    --linhas-principais:#444801;
    --cor-de-fundo:#eadac0;
    --texto-secundario:#3f1503;
    --fonte-principal: 'Italiana';
}

header {
    border-bottom: solid var(--linhas-principais);
    padding: 20px;
    font-size: 30px;
    color: var(--linhas-principais);
}

body{
    color: var(--texto-primario);
    background: var(--cor-de-fundo);
    margin: 0px;
    margin-bottom: 100px;
}

.chamada-divulgação {
    font-size: 50px; 
}

.chamada-texto{
    font-size: 20px;
    color: var(--texto-secundario);
    margin-right: 5%;
}

.chamada {
    background-image: url("img/jantar vino e vita.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--fundo-secundario);
    padding-bottom: 80px;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 175px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50%;
    justify-content: right;
    height: 25vh;
    font-size: 20px;
}

.categoria {
    padding-bottom: 80px;
    padding-top: 60px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    height: 25vh;
}

.categoria-divulgação {
    font-size: 50px; 
}

.categoria-texto{
    font-size: 25px;
    color: var(--texto-secundario);
    margin-right: 5%;
}

.grupo {
    background-image: url("img/Untitled.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20%;
    background-color: var(--fundo-secundario);
    padding-bottom: 80px;
    padding-top: 60px;
    padding-right: 20px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50%;
    justify-content: right;
    height: 25vh;
    font-size: 50px;
}

.grupo-divulgação {
    font-size: 50px;
    font-weight: 700;
}

.grupo-botao{
    font-size: 30px;
    color: var(--cor-de-fundo);
    margin-right: 5%;
    text-decoration: none;
    background-color: var(--texto-primario);
    border-radius: 5px;
    padding: 1em;
    display: block;
}

.conjunto {
    background-image: url("img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 85%;
    padding-bottom: 80px;
    padding-top: 60px;
    padding-left: 20px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50%;
    justify-content: left;
    height: 25vh;
    font-size: 30px;
}

.conjunto-divulgação {
    font-size: 50px; 
}

.conjunto-texto{
    font-size: 25px;
    color: var(--texto-secundario);
    margin-right: 5%;
}